
<div class="advisors">
    <h2>Academic Advisors</h2>
        I have been fortunate to work many great researchers
        <ul>
            <li> <a href="https://www.cse.iitb.ac.in/~sunita">Sunita Sarawagi</a> </li>
            <li> <a href="https://arjunjain.co.in">Arjun Jain</a> </li>            
            <li> <a href="https://www.cs.umd.edu/~abhinav/">Abhinav Shrivastava</a> </li>            
            <li> <a href="https://www.microsoft.com/en-us/research/people/nagarajn/">Nagarajan Natarajan</a> </li>            
            <li> <a href="https://www.microsoft.com/en-us/research/people/sriram/">Sriram Rajamani</a> </li>            
            <li> <a href="https://www.prateekjain.org/">Prateek Jain</a> </li>            
            <li> <a href="https://www.microsoft.com/en-us/research/people/rahsha/">Rahul Sharma</a> </li>            
            <li> <a href="https://www.microsoft.com/en-us/research/people/supartha/">Suresh Parthasarthy</a> </li>            
            <li> <a href="https://www.microsoft.com/en-us/research/people/ariy/">Arun Iyer</a> </li>            
        </ul>
</div>